<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/login">Login</a>
  <a href="/pets">Pet list</a>
  <a href="/clinics">Clinic list</a>
</div>

<h1><%= @owner.name %></h1>
  <h2>Email: <%= @owner.email %></h2>
  <h2>Facebook UID: <%= @owner.uid %></h2>
  <img src="<%= @owner.image %>">
