<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/clinics">Clinic list</a>
</div>

<h1>Welcome to pet management system</h1>

<h2>Owner list</h2>

<table>
  <tr>
    <th>Owner name</th>
    <th>Owner email</th>
    </tr>
  <%@owners.each do |owner|%>
  <tr><td>Name: <%=owner.name%></td>
    <td>Email: <%=owner.email%></td>
  </tr>
  <%end%>
</table>
